body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card {
    background: rgba(255, 255, 255, 0.15);
    padding: 35px;
    width: 400px;
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    text-align: center;
    backdrop-filter: blur(10px);
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

button {
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    background: #ffca28;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #ffb300;
}

a {
    color: #ffeb3b;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
