<!DOCTYPE html>
<html>
<head>
    <title>Voice Emotion Recognition</title>
</head>
<body style="text-align:center; background:#4e54c8; color:white; padding-top:100px;">
    <h1>🎤 Voice Emotion Recognition</h1>
    <p>Detect emotions from voice using AI</p>

    <a href="/login" style="color:white; font-size:18px;">Login</a>
    |
    <a href="/signup" style="color:white; font-size:18px;">Sign Up</a>

    <footer style="margin-top:60px;">
        <p>Developed by Misha Noor</p>
    </footer>
</body>
</html>
